:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-white-bcg: #F5F4FA;
    --button-text-color: #FFFFFF;
}

body {
    background-color:#F5F5F5;
    color: var(--primery-text-color);
    font-family:Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    
}

/* Logo */
.logo-header {
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.logo-footer {
    background-color:#2F303A;
    color:#FFFFFF ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.logo-web {
    color: var(--accent-color);
}


/* Nav header */
.nav-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.com-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.link {
    color: var(--title-text-color);
    text-decoration:none;
}
.nav-header .link:hover, 
.nav-header .link:focus,
.com-header .link:hover,
.com-header .link:focus,
.com-footer .link:hover,
.com-footer .link:focus {
    color: var(--accent-color);
}
.link-current {
    color: var(--accent-color);
    text-decoration:none;
}

/* Hero h1*/
.hero-title {
    background-color: #000;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Section h2*/
.section .section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.link .section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}
.link .text {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/* Feature h3, p*/
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
}
.feature-list .text,
.link .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Team h3, p*/
.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--button-white-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button:hover,
.button:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
    

